<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	y="0px" viewBox="0 0 792 265" style="enable-background:new 0 0 792 265;" xml:space="preserve">
	<style type="text/css">
		.st0 {
			fill: #FFFFFF;
		}

		.st1 {
			font-family: 'Impact';
		}

		.st2 {
			font-size: 120px;
		}

		.st3 {
			font-size: 85px;
		}

		.st4 {
			font-family: 'Roboto';
			font-weight: 300;
		}
	</style>
	<text transform="matrix(1 0 0 1 111 134)" class="st0 st1 st2">ActiveState</text>
	<text transform="matrix(1 0 0 1 107 230)" class="st0 st4 st3">Documentation</text>
</svg>